body{
    font-family: Helvetica, Arial, sans-serif;
    width: 70%;
    margin: auto;
}
h1{
    color: white;
    background-color: #61BBC7;
    padding: 10px;
    border-bottom: 3px solid #A35537;
    margin-bottom: 2px;
}
p a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color:#F5885F;
    padding: 4px 2px;
}
p a:hover{
    color: #61BBC7;
}
h2{
    padding: 10px 0px 0px;
    color: #46868F;
    margin-bottom: 0px;
}
h4{
    color: #A35537;
}
.telefono{
    font-size: 14px;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 30px;
    padding-bottom: 10px ;
    border-bottom: 2px solid #A35537;
}
table{
    border: 2px solid #46868F;
}
thead tr th{
    text-align: center;
    background-color: #E7F56C;
    padding: 5px;
}
tbody tr td{
    text-align: center;
    border: 2px solid 46868F;
    padding: 5px;
}
table.izquierda{
    float: left;
    margin-left: 15%;
    border: 0px;
    background-color: #BACCCF;
}
.derecha{
    float: right;
    margin-right: 15%;
    background-color: #BACCCF;
    padding: 0px 20px;
    height: 250px;
}
ul li{
    list-style: none;
}
table.ciclos{
    clear: both;
    background-color: #46868F;
    color: white;
}
table.ciclos th{
    color: black !important;
}
.ciclos caption h4{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #A35537;
}
.ciclos a{
    color: #68bbc5;
    text-decoration: none;
}
.ciclos a:hover{
    color:#F5885F;
}
.ciclos a:focus{
    color: #A35537;
}
#formulario{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #A35537;
}
fieldset{
    background-color: #BACCCF;
    padding: 30px;
}
legend{
    color:#A35537;
    font-weight: bold;
}
#datos input{
	font-size: 14px;
	width: 200px;
	height: 30px;
	padding: 4px;
	margin-top: 15px;
	border-radius: 4px;
	border: 2px solid #E7F56C;
	box-shadow: inset 0px 1px 2px #E7F56C;
}
#datos input:focus{
	border: 2px solid #F5885F;
	box-shadow: inset 0px 1px 2px #F5885F;
    outline: none;
}
hr{
    height: 2px;
    margin: 20px 3px;
}
.margenform{
    margin: 10px;
}
textarea{
    width: 50%;
    height: 200px;
    border: 2px solid #E7F56C;
    resize: none;
    margin: 10px 0px;
}
textarea:focus{
    border: 2px solid #F5885F;
	box-shadow: inset 0px 1px 2px #F5885F;
    outline: none;
}
.boton{
    color: white;
	text-shadow: 0px 1px 1px #656d20;
	background-color: #E7F56C;
	width: 20%;
	height: 30px;
	margin: 10px;
    border-radius: 4px;
    border-color: white;
    color: #333333;
}
.boton:hover{
    background-color: #46868F;
    color: white;
}
.boton:focus{
    background-color:#F5885F;
    color: white;
}