/* Estilos generales */

*{
    font-family: sans-serif;
}

h1, h2{
    text-align: center;
}

hr{
    width: 75%;
}

/* Estilos para el apartado de las tablas: se alinean con grid para que salgan las tres en horizontal y se les ponen colores */

#tablas{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 7%;
}

#tabla_empresa tr{
    background-color: rgb(255, 145, 0);
}

#tabla_profesores tr{
    background-color: rgb(163, 230, 108);
}

#tabla_ciclos tr{
    background-color: rgb(93, 46, 138);
}

/* Estilos para el apartado de enlaces: se centra el texto y se ponen los enlaces sin de coración por defecto y al pasar el ratón cambian */

#enlaces{
    text-align: center;
}

#enlaces a{
    text-decoration: none;
    color: blue;
}

#enlaces a:hover{
    font-size: 20px;
    color: blueviolet;
}

/* Estilos para el apartado de listas: se centra el contenido con grid y se cambia el color de fondo */

#listas{
    width: 75%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
}

#datos_empresa{
    background-color: aquamarine;
}

#datos_profesores{
    background-color: bisque;
}

/* Estilos para el apartado de formulario: se centra el formulario y se separa cada componente del mismo para que no salga todo pegado, también se modifica un poco el botón Enviar*/

#formulario{
    width: fit-content;
    margin: 0 auto;
}

#formulario form textarea{
    margin-top: 15px;
}

#formulario form button{
    margin-top: 15px;
    padding: 10px;
    background-color: aquamarine;
}